.entire-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.job-details-container{
    background-color: #000000;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.job-details-card-container{
        color: white;
        padding: 22px;
        background-color: #202020;   
        border-radius: 8px;
        width: 100%;
    }
.details{
        width: 90%;
        align-self: flex-start;
        max-width: 1000px;
}
@media screen and (min-width:576px){
    .similar-jobs-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.anchor-container{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.description-and-link-container{
    display: flex;
    justify-content: space-between;
}
.visit-text{
    margin-right: 8px;
    color: white;
}
#redirect-icon{
    color: #b6c5ff;
}
.life-at-company{
    font-size: 19px;
    text-decoration: underline;
}
.life-at-company-img{
    width: 100%;
}
.life-at-comapny-description{
        font-size: 18px;
}
@media screen and (min-width:576px){
    
    .life-at-company-container{
        display: flex;
        justify-content: space-between;
    }
    .life-at-company-img{
     max-width: 300px;
   max-height: 250px;
    }
    .life-at-comapny-description{
      
        margin-right: 10px;
        margin-top: 0px;
    }

}
.similar-jobs-container{
    padding-left: 0px;
    list-style-type: none;
}
.similar-job-text{
    text-decoration: underline;
    font-size: 24px;
}