
.notfound-container{
background-color: #000000;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.not-found-title{
color: #ffffff;
}
.not-found-description{
color: #64748b;
font-size: 17px;
font-weight: 500;
}