*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jobs-main-container{
    display: flex;
    flex-direction:column ;
min-height: 100vh;
background-color: #000000;

}
.jobs-container{
overflow-y: scroll;
padding: 20px;

}
@media screen and (min-width:576px){
.jobs-container{
    display: flex;
    padding: 30px;
}    
   .filter-and-profile-container{
       width: 50%;
       margin-right: 50px;
      
   }
    .filtered-job-container{
 width: 100%;
 display: flex;
 flex-direction: column; 
 overflow: hidden;

    }
    .job-cards-container{
        flex-grow: 1;
 display: flex;
 flex-direction: column; 
  align-items: center;
 justify-content: center;  
    }
    
}
.jobsearch-input{
border: none;
height: 40px;
background-color: transparent;
width: 80%;
outline: none;
padding-right: 17px;
color: aliceblue;

}


.jobsearch-input-container{
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid #64748b;
border-radius: 6px;
padding-left: 15px;
width: 100%;
}





.job-search-btn{
    font-size: 20px; 
    background-color: #272727;
    height: 40px;
    border: none;
    outline: none;
width: 50px;  
color: aliceblue; 
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
cursor: pointer;
}
.profile-card{
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 17px;
    width: 100%;
    height: 100%;
  
  
}


.retry-btn{
    width: 98px;
    background-color: #6366f1;
border: none;
outline: none;
cursor: pointer;
color: aliceblue;
font-weight: 600;
padding: 7px;
border-radius: 2px;
height: 40px;
}
.failed-job-container{
 text-align: center;
 color: white;
}
.job-failed-title{
    font-size: 20px;
}
.loader{
    text-align: center;
    align-items: center;
}

    .desktop-jobsearch-input-container{
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid #64748b;
border-radius: 6px;
padding-left: 15px;
width: 100%;
   }

@media screen and (max-width:576px){
    .desktop-jobsearch-input-container{
        display: none;
       
    }
}
@media screen and (min-width:576px){
    .desktop-jobsearch-input-container{
       width: 50%;
      
       
    }
}

@media screen and (min-width:577px){
    .jobsearch-input-container{
     
        display: none;
    }
}
.all-jobs-container{
padding-left: 0px;
list-style-type: none;

}
.no-job-img{
    width: 280px;
}