*{
font-family: roboto;    
}
.nav-container{
    padding-left: 15px;
display: flex;
justify-content: space-between;
background-color: #272727;
align-items: center;
height: 80px;
position: sticky;
top: 0px;

}
.mobile-view-button-container{
list-style-type: none;
padding-left: 0px;
display: flex;
justify-content: space-between;

}
.mobile-view-header-button{
    font-size: 32px;
    color: #ffffff;
    margin-left: 20px;
}
.mobile-view-header-logo{
    width: 110px;
}

.mobile-view-logout-button{
    background-color: transparent;
    border: none;
    outline: none;
}
@media screen and (min-width:576px){
    .mobile-view-button-container{
        display: none;
    }

}
.link{
color: #ffffff;    
text-decoration: none;
font-weight: 600;

}

.desktop-view-logout-button{
  padding: 8px;
  width: 100px;
  border: none;
  background-color: #6366f1;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;

}
.job-text{
    margin-left: 27px;
   margin-right: 27px;
  
}
.button{
flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
}
.desktop-view-button-container{
    display: flex;
    list-style: none;

    align-items: center;
width: 50%;
}
@media screen and (max-width:576px){
  .desktop-view-button-container{
display: none;      

}

}