
*{
font-family: roboto;
}
.login-container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image:url('https://img.freepik.com/free-vector/isometric-hiring-process_52683-44139.jpg?w=1060&t=st=1686474003~exp=1686474603~hmac=d32901c771627a7139967fd3b2c3a0f648889a6fcdc66d1ac9819a1644976c6c')
}
.login-card-container{
    background-image:linear-gradient(to right,#87CEEB,#dce0ee) ;
    padding: 28px;
    max-width: 380px;
width: 70%;
border-radius: 12px;

}
@media screen and (min-width:768px){
    .login-card-container{
        width: 50%;
    }
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.credential-container{
display: flex;
flex-direction: column;
margin-bottom: 15px;

}
.login-logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.login-card-logo{
width: 130px;
}
.credential-label{
    color: black;
    font-weight: 600;
    font-size: 13px;
    
}
.credentials-input{
    padding-left: 8px;
    height: 40px;
    font-size: 15px;
    outline: none;
    border: 1px solid #64748b;
background-color: transparent;
margin-top: 3px;
color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

font-weight: 500;

}
.login-btn{
    background-color: #6366f1;
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 15px;
margin-bottom: 10px;
cursor: pointer;
}
.error-msg{
    color: red;
    font-weight: 300;
}